@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #000;
}
button {
  background-color: blueviolet;
  color: #fff;
  border: 1px solid blueviolet;
  padding: 15px 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
button:focus {
  outline: none;
}
.circle {
  height: 100px;
  width: 100px;
  background-color: #fff;
  position: absolute;
  
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.9s ease-in-out;
}
@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
